language: node_js
node_js:
  - "0.10"
notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a7ae129b709c3e6acfad
    on_success: always
    on_failure: always
    on_start: false
